.texto-span {
	padding: 5px;
}

.div-examen{
	padding-right:30px;
	padding-left:12px;
}

table .form-group {
	margin-bottom: 0px;
}

.modal-dialog{
   width: 80%;
   margin: auto;
}

.ui-autocomplete {
    position: absolute;
}

#container_tags {
    display: block; 
    position:relative
}

.ui-autocomplete{
	z-index:1050;
}